body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
img {
  border: medium none;
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font: 12px/1.5 "Microsoft Yahei", tahoma, Srial, helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

body {
  min-width: 1205px;
  background-color: #fff;
}

.top-wrap {
  width: 100%;
  height: 45px;
  line-height: 45px;
  background: #2d2a9b;
  color: #fff;
}

.fl {
  float: left;
}

.main {
  width: 1205px;
  margin: 0 auto;
  height: auto;
}

.top-l {
  font-size: 14px;
}

.fr {
  float: right;
}

.no-decorate {
  text-decoration: none;
}

.nav-link {
  color: #fff;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
}

.nav-link img {
  vertical-align: middle;
  display: inline-block;
  margin: 0 5px;
}

.search-container {
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  height: 45px;
}

.search-input {
  float: left;
  font-size: 16px;
}

.search-button {
  float: right;
  background-color: white;
  color: #fff;
  border: none;
  cursor: pointer;
}

.split {
  padding: 0 10px;
  font-size: 18px;
}

ul {
  list-style: none;
}

.nav-bar {
  width: 1205px;
  margin: 0 auto;
  display: block;
  height: 140px;
}

.nav-bar-left {
  padding: 10px 0 5px 0;
}

.clearfix::before {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.nav-bar-right {
  margin: 13px 16px 0 0;
  text-align: center;
}

.nav-bar-right > p {
  line-height: 35px;
  font-size: 16px;
  color: #1e3a8e;
}

.nav-bar-right img {
  width: 90px;
  height: 90px;
}

.innav {
  font-size: 20px;
  color: #2e2a9b;
  font-weight: bold;
  padding: 0 25px;
  text-align: center;
  height: 45px;
  line-height: 45px;
}

.innav:hover {
  font-size: 20px;
  background-color: #2e2a9b;
  /* color: white; */
}

.innav:hover a {
  color: white
}

.zy-xw {
  width: 1205px;
  margin: 0 auto;
}

.xw-l {
  width: 580px;
  height: 365px;
  background: blanchedalmond;
}

.xw-r {
  width: 600px;
  height: 365px;
}

.xw-r ul li {
  width: 595px;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #aaa;
  margin: 0;
}

.xw-r ul li a {
  font-size: 16px;
  padding: 0 0 0 10px;
}

.xw-r ul li a::before {
  content: '•';
  font-size: 30px;
  float: left;
  padding: 0 0 0 5px;
}

.xw-r ul li a span {
  float: right;
  color: #666;
}

.ztzl .t {
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 45px;
  border-bottom: 1px solid #bfbfbf;
  font-size: 22px;
  font-weight: bold;
  color: #1f398f;
}

.ztzl .more {
  color: #102a7e;
  font-size: 16px;
  font-weight: normal;
}

.zt-card {
  margin-top: 20px;
}

.zt-card li {
  width: 170px;
  height: 65px;
  padding: 25px 15px;
  text-align: center;
  overflow: hidden;
  margin: 0 0 0 45px;
}

.zt-card li a {
  color: #fff;
  font-size: 17px;
  line-height: 30px;
}

.zt-card li:first-child {
  margin: 0 0 0 10px;
}

.zt-card li:nth-child(odd) {
  background: #2d2a9b;
}

.zt-card li:nth-child(even) {
  background: #3734b4;
}

.zt-card li a:hover {
  color: #F80;
}